//communit_test
.topheader3{
  height:0.88rem;display:flex;box-sizing:border-box;
  padding:0 0.2rem;width:100%;align-items:center;
  width:7.5rem;background:#f5f5fa;;
  h2{display:table-cell;width:6.3rem;text-align:center;
  font-size:0.3rem;font-weight:bold;width:80%;}
  i{font-size:0.34rem;color:#666;width:10%;}

}
*{color:#333;box-sizing:border-box;}
/*可以控制字体的长度*/ 
.text_kz{
  font-size: 0.26rem;
  line-height: 0.40rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.btn3{
  border-radius:0.5rem;border:1px solid #666;text-align:center;
  line-height: 1;padding:0.2rem;color:#666;
}
.flex{display:flex;justify-content:space-between;align-items:center;;}
/*待发货详情*/  /*待评价详情*/  /*待收货详情*/ 
.dd_xq{width:7.5rem;margin:0 auto;background-color:#f5f5fa;
    /*地址修改*/
    .address{background-color:#fff;padding:0.2rem;box-sizing:border-box;
      @extend .flex;width:7.1rem;margin:0 auto;border-radius:0.12rem;
      i{font-size:0.34rem;color:#666;width:0.34rem;}
      div{width:90%;margin-left:0.12rem;
        h5{font-weight:bold;margin-bottom:0.12rem;
          span{font-weight:bold;}
          em{font-weight:bold;margin-right:0.12rem;}
        }
      }
    }
    /*订单*/
    .dingdang{width:7.1rem;padding:0.2rem;box-sizing:border-box;
      margin:0 auto;margin-top:0.2rem;
      background-color:#fff;border-top-left-radius:0.12rem;
      border-top-right-radius:0.12rem;
      .list{
        h5{display:flex;align-items:center;margin-bottom:0.15rem;
          img{width:0.5rem;height:0.5rem;display:block;margin-right:0.12rem;}
        }
        ul{
          li{display:flex;justify-content:space-between;margin-bottom:0.2rem;
            img{width:1.77rem;height:1.77rem;}
            div{height:1.77rem; width:4.77rem;position: relative;
              h4{font-size:0.3rem;@extend .text_kz;margin-bottom:0.16rem;
                em{float:right;color:#666;}
              }
              .dk{line-height:1;padding:0.03rem 0.1rem;border:1px solid #999;              
              color:#999;font-size:0.22rem;;
              border-radius:0.03rem;display: inline-block}
              .jiage{position: absolute;left:0;bottom:0;
                em{font-weight: bold;font-family:'din';;}
              }
              .btn2{border-radius:0.5rem;border:1px solid #666;text-align:center;
              line-height: 1;padding:0.2rem;color:#666;
              position: absolute;right:0px;bottom:0;}
            }
          }
        }
      }
    }
    /*zongjie*/
    .zongjie{width:7.1rem;box-sizing:border-box;
      margin:0 auto;background-color: #fff;
      border-bottom-left-radius:0.12rem;
      border-bottom-right-radius:0.12rem;
      ul{padding:0.2rem;
        li{margin-bottom:0.18rem;
          span{color:#333;display: inline-block;}
          span:nth-child(1){width:1.3rem;color:#666;}
          span:nth-child(3){float:right;}
        }
        
      }
      .xj{text-align:right;border-top:1px dashed #f5f5fa;padding-top:0.2rem;
      padding-bottom:0.2rem;padding-right:0.2rem;}
    }
    /*bianhao*/
    .bianhao{width:7.1rem;padding:0.4rem 0.2rem;box-sizing:border-box;
    margin:0 auto;background-color: #fff;
    margin-top:0.2rem;border-radius:0.12rem;
      h2{display:flex;justify-content:space-between;align-items:center;
        span{width:1.3rem;flex-shrink:0;font-weight:bold;}
        input{width:100%;text-align:left;outline:none;;}
        i{flex-shrink:0;color:#de1616}
      }
    }
    /*xinxi*/
    .xinxi{border-radius:0.12rem;
      width:7.1rem;box-sizing:border-box;
      margin:0 auto;background-color: #fff;
      margin-top:0.2rem;
      h2{font-weight:bold;padding:0.4rem 0.2rem;
      border-bottom:1px solid #f5f5fa}
      ul{padding:0.2rem;
        li{padding-bottom:0.18rem;display:flex;
          span{width:1.3rem;}
        }
      }
    }
    .footer_pay{background-color:#fff;width:7.5rem;margin-top:0.6rem;
      padding:0.15rem 0.2rem;box-sizing:border-box;
      div{display:flex;justify-content:flex-end;
        a{line-height:1;@extend .btn3;margin-left:0.2rem;width:1.6rem;text-align:center;}
        /*待付款详情页*/
        .color_1{color:#ff6600;border-color:#ff6600;}
      }
    }
}
/*待付款详情页*/
.dfk_xq{width:7.5rem;margin:0 auto;background-color:#f5f5fa;
  /*地址修改*/
  .address{background-color:#fff;padding:0.2rem;box-sizing:border-box;
    @extend .flex;width:7.1rem;margin:0 auto;border-radius:0.12rem;
    i{font-size:0.34rem;color:#666;width:0.34rem;}
    div{width:90%;margin-left:0.12rem;
      h5{font-weight:bold;margin-bottom:0.12rem;
        span{font-weight:bold;}
        em{font-weight:bold;margin-right:0.12rem;}
      }
    }
  }
  /*订单*/
  .dingdang{width:7.1rem;padding:0.2rem;box-sizing:border-box;
    margin:0 auto;margin-top:0.2rem;
    background-color:#fff;border-top-left-radius:0.12rem;
    border-top-right-radius:0.12rem;
    .list{
      h5{display:flex;align-items:center;margin-bottom:0.15rem;
        img{width:0.5rem;height:0.5rem;display:block;margin-right:0.12rem;}
      }
      ul{
        li{display:flex;justify-content:space-between;margin-bottom:0.2rem;
          img{width:1.77rem;height:1.77rem;}
          div{height:1.77rem; width:4.77rem;position: relative;
            h4{font-size:0.3rem;@extend .text_kz;margin-bottom:0.16rem;
              em{float:right;color:#666;}
            }
            .dk{line-height:1;padding:0.03rem 0.1rem;border:1px solid #de1616;              
            color:#de1616;font-size:0.22rem;;
            border-radius:0.03rem;display: inline-block}
            .jiage{position: absolute;left:0;bottom:0;width:100%;color:#de1616;
              em{font-weight: bold;font-family:'din';color:#de1616;;}
              i{float:right;}
            }
          }
        }
      }
    }
  }
  /*zongjie*/
  .zongjie{width:7.1rem;box-sizing:border-box;
    margin:0 auto;background-color: #fff;
    border-bottom-left-radius:0.12rem;
    border-bottom-right-radius:0.12rem;
    ul{padding:0.2rem;
      li{margin-bottom:0.18rem;
        span{color:#333;display: inline-block;}
        span:nth-child(1){width:1.3rem;color:#666;}
        span:nth-child(3){float:right;}
      }
      
    }
    .xj{text-align:right;border-top:1px dashed #f5f5fa;padding-top:0.2rem;
    padding-bottom:0.2rem;padding-right:0.2rem;}
  }
  /*bianhao*/
  .bianhao{width:7.1rem;padding:0.4rem 0.2rem;box-sizing:border-box;
  margin:0 auto;background-color: #fff;
  margin-top:0.2rem;border-radius:0.12rem;
    h2{display:flex;justify-content:space-between;align-items:center;
      span{width:1.3rem;flex-shrink:0;font-weight:bold;}
      input{width:100%;text-align:left;outline:none;;}
      i{flex-shrink:0;color:#de1616}
    }
  }
  /*xinxi*/
  .xinxi{border-radius:0.12rem;
    width:7.1rem;box-sizing:border-box;
    margin:0 auto;background-color: #fff;
    margin-top:0.2rem;
    h2{font-weight:bold;padding:0.4rem 0.2rem;
    border-bottom:1px solid #f5f5fa}
    ul{padding:0.2rem;
      li{padding-bottom:0.18rem;display:flex;
        span{width:1.3rem;}
      }
    }
  }
  .footer_pay{background-color:#fff;width:7.5rem;margin-top:0.6rem;
    padding:0.15rem 0.2rem;box-sizing:border-box;
    div{display:flex;justify-content:flex-end;
      a{line-height:1;@extend .btn3;margin-left:0.2rem;width:1.6rem;text-align:center;}
      /*待付款详情页*/
      .color_1{color:#ff6600;border-color:#ff6600;}
    }
  }
}

/*评价晒单*/
 
