//communit_test
.topheader3{
  height:0.88rem;display:flex;box-sizing:border-box;
  padding:0 0.2rem;width:100%;align-items:center;
  width:7.5rem;
  h2{display:table-cell;width:6.3rem;text-align:center;;font-size:0.3rem;font-weight:bold;
  color:#fff;}
  i{font-size:0.34rem;color:#fff;;}
}
//
.text_kz{
  font-size: 0.26rem;
  line-height: 0.40rem;
  overflow: hidden;
  color: #666;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#app{background-color:#fff;}
.nav_pages{padding-bottom:0.88rem+0.2rem;
  background:url(../images/nav_bg.png) 50% 0 no-repeat;background-size:100%;
  .act_pages{
    background-color:#F5F5FA;;
    width:7.5rem;margin:0 auto;
    padding:0.2rem;box-sizing:border-box;
    ul{display:flex;justify-content: space-between;flex-wrap:wrap;;;
      li{margin-bottom:0.2rem;width:3.46rem;background-color: #fff;border-radius:0.12rem;
        overflow: hidden;padding-bottom:0.2rem;
        .pic{display:inline-block;width:3.46rem;height:3.46rem;}
        h2{@extend .text_kz;padding:0 0.2rem;box-sizing:border-box;font-weight:bold;;}
        h3{display:flex;padding:0 0.2rem;flex-wrap:wrap;margin-top:0.1rem;
          span{font-size:0.22rem;border:1px solid #e01518;border-radius:0.05rem;
            color:#e01518;margin-bottom:0.1rem;
          line-height:1;padding:0.04rem;margin-right:0.1rem;}
          span:nth-child(2){border-color:#FF8B01;color:#FF8B01;}
        }
        p{padding:0 0.2rem;text-align:right;color:#e01518;
          em{font-size:0.34rem;font-weight:bold;font-family:'din';;;}
        }
      }
    }  
  }
  /*hot_sale*/
  .hot_sale{width:7.1rem; margin:0 auto;
    margin-top:0.3rem;
    background:url(../images/nav_hot.png) 50% 50% no-repeat;background-size:100%;
    display:flex;padding:0.2rem;box-sizing:border-box;
    align-items:center;;
    h5{width:1em;flex-shrink:0;margin-right:0.2rem;font-size:0.34rem;
      color:#fff;font-weight:bold;;}
    ul{display:flex;width:100%;justify-content: space-between;
      li{width:1.92rem;position: relative;height:1.92rem;
        border-radius:0.12rem;overflow: hidden;;
        a{img{width:100%}}
        .bq{width:0.4rem;position: absolute;top:0;right:0.2rem;}
        p{background: rgba($color: #000000, $alpha: 0.5);
        text-align:center;line-height:1;padding:0.07rem 0;
        position: absolute;bottom:0;right:0.0rem;width:100%;
        color:#fff;
        }
      }
      
    }
  }
}

/*nav_banner*/
#nav_banner{width:83%;position: relative;margin:0 auto;margin-top:0.3rem;
  overflow: hidden;border-radius:0.2rem;
  .hd{position:absolute; width:100%;z-index:99;left:0%;bottom:0.2rem;width:100%;
    ul{display:flex;justify-content: center;
      li{background-color:rgba(256,256,256,0.3);border-radius:50%;
        height:0.1rem;width:0.1rem;margin:0 0.05rem;
        color:transparent}
      .on{background-color:#fff;}
    }
  }
  .bd{
    ul{
      li{
        img{width:100%;}
      }
   }
  }  
}